<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="createAccount.css" />
    <script src="createAccount.js" defer></script>

    <title>Create Account Page</title>
</head>
<body>

    <center>
        <div class = "spacer"></div>
        <div class = "loginBox">
            <p class = "initialText">Create Chess Account</p>
            <br>
            <input class = "Username" id = "Username" type="text" placeholder = "Enter Username">
            <div class = "Username" id = "userText"></div>
            <br>
            <input class = "password" id = "Pass" type="password" placeholder = "Password">
            <br>
            <input class = "password" id = "Confirm" type="password" placeholder = "Confirm Password">
            <div id = "passText"></div>

            <br>
            <input id = "loginInstead" type="button" value="Login Instead">
            <input class = "createAccount" type="button" value="Create Account">

        </div>
    </center>
</body>
</html>