body{
	background:white;
	height:700px;
	margin:0px;
	padding:0px;
}

.loginBox {
    /* top: 50%; */
    /* left: 50%;  */
    width: 30em;
    height: 35em;
    margin:auto;
    border:1px;
    border-style:solid;
    border-color: gray;

}

.spacer{
    height:10em;
}

#Username {
    margin:5px;
    padding-left:5px;
    padding-right:5px;
    height:2em;
    width:20em;
    top: 20%;
    position:relative;
}
#userText {
    padding-left:5px;
    padding-right:5px;
    height:10px;
    width:20em;
    top: 20%;
    /* left: -25%; */
    position:relative;
    font-size:12px;
    color:red;
}
#passText {
    padding-left:5px;
    padding-right:5px;
    height:10px;
    width:20em;
    top: 20%;
    /* left: -25%; */
    position:relative;
    font-size:12px;
    color:red;
}

.password {
    margin:5px;
    padding-left:5px;
    padding-right:5px;
    height:2em;
    width:20em;
    top: 20%;
    position:relative;
}
.createAccount {
    margin:5px;
    padding-left:10px;
    padding-right:10px;
    height:2em;
    top: 30%;
    left:7.5%;
    position:relative;
    /* padding: 0; */
    border: none;
    background: none;
    cursor: pointer;
    background-color:rgb(193,154,107)
}

#loginInstead {
    margin:5px;
    padding-left:10px;
    padding-right:10px;
    height:2em;
    top: 30%;
    left:-7.5%;
    position:relative;
    /* padding: 0; */
    border: none;
    background: none;
    cursor: pointer;
    color: #0000FF 
}



.createAccount:hover{
    background-color:rgb(177, 138, 92);
}

.initialText {
    
    top: 10%;
    position: relative;
    font-size: 30px;
}