<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="login.css" />
    <script src="login.js" defer></script>

    <title>Document</title>
</head>
<body>

    <center>
        <div class = "spacer"></div>
        <div class = "loginBox">
            <img class = "chessicon" src="chessicon.png" alt="chessicon">
            <br>
            <input class = "loginInfo" id = "Username" type="text" placeholder = "Username">
            <br>
            <input class = "loginInfo" id = "Password" type="password" placeholder = "Password">
            <br>
            <input class = "createAccount" type="button" value="Create Account">
        </div>
    </center>
</body>
</html>